.text-title {
  color: white;
  letter-spacing: .1em; }

.text-body {
  color: white;
  letter-spacing: .08em; }

.text-red {
  color: #F44333; }

.text-purple {
  color: #673Ab7; }

.text-blue {
  color: #03A9F4; }

.text-alert {
  font-weight: bold;
  letter-spacing: .08em;
  font-size: 110%; }

body, html {
  background: black; }

.btn-mode {
  border-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .2s ease-out; }
  .btn-mode-active {
    background: black;
    color: white; }
    .btn-mode-active:hover {
      color: black;
      background: black;
      border-bottom: 2px solid black; }
  .btn-mode-teal {
    background: #004D40;
    color: white; }
    .btn-mode-teal:hover {
      color: #004D40;
      background: black;
      border-bottom: 2px solid #004D40; }
  .btn-mode-red {
    background: #F44333; }
    .btn-mode-red:hover {
      color: #F44333;
      background: black;
      border-bottom: 2px solid #F44333; }
  .btn-mode-purple {
    background: #673AB7; }
    .btn-mode-purple:hover {
      color: #673AB7;
      background: black;
      border-bottom: 2px solid #673AB7; }
  .btn-mode-blue {
    background: #03A9F4; }
    .btn-mode-blue:hover {
      color: #03A9F4;
      background: black;
      border-bottom: 2px solid #03A9F4; }
  .btn-mode:hover {
    text-decoration: none;
    cursor: pointer; }

.btn-container {
  margin: 0px;
  padding: 0px; }
  .btn-container * {
    width: 33.33333%; }
