a {
  text-decoration: none !important; }

.text-title {
  color: white;
  letter-spacing: .1em; }

.text-body {
  color: white;
  letter-spacing: .08em; }

.text-extra {
  color: #673Ab7;
  font-size: 2.4em; }

.text-red {
  color: #F44333; }
  .text-red-hover:hover {
    color: #e81f0c;
    text-decoration-color: #e81f0c; }

.text-purple {
  color: #673Ab7; }
  .text-purple-hover:hover, .text-purple-hover:active {
    color: #512e90;
    text-decoration-color: #512e90; }

.text-blue {
  color: #03A9F4; }
  .text-blue-hover:hover, .text-blue-hover:active {
    color: #0286c2;
    text-decoration-color: #0286c2; }

.text-alert {
  transition: all 0.5s cubic-bezier(0.05, 0.025, 0.1, 0.025);
  font-weight: bold;
  letter-spacing: .08em;
  font-size: 110%;
  position: relative;
  transform: scaleX(1.8); }
  .text-alert:hover {
    text-decoration: underline;
    font-size: 130%; }
  .text-alert:active, .text-alert:visited, .text-alert:link {
    text-decoration: none !important; }

#hour-alarm, #minute-alarm, #exxtra {
  color: #e81f0c !important; }

#delta, #hour-alarm, #minute-alarm, #when-alarm {
  font-size: 50px !important;
  font-weight: bold; }

#delta {
  color: #03A9F4; }

#current-hour-alarm, #current-minute-alarm, #current-when-alarm {
  font-size: 50px !important;
  font-weight: bold;
  color: #673AB7; }

#current-when-alarm {
  color: #e81f0c; }

.interactive-element {
  transition-duration: .5s; }

.inactive {
  height: 0%;
  transform: scale(0, 0); }

.active {
  transform: scale(1, 1); }

.ads-container {
  display: inline-block;
  width: 100% !important; }
  @media screen and (min-width: 768px) {
    .ads-container {
      height: 500px !important; } }
  @media screen and (max-width: 767px) {
    .ads-container {
      height: 500px !important; } }

body, html {
  background: black;
  display: flex;
  flex-flow: column;
  main-height: 100vh; }
  body *, html * {
    font-family: 'Source Sans Pro', sans-serif; }
  body .header, html .header {
    font-family: 'Montserrat', sans-serif; }
    body .header *, html .header * {
      font-family: 'Montserrat', sans-serif; }

.btn-mode {
  font-weight: bold;
  border-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .5s ease-out; }
  .btn-mode-red {
    background: #F44333;
    color: white; }
    .btn-mode-red:hover {
      background: black;
      color: #F44333;
      border-bottom: 2px solid #F44333; }
      @media screen and (min-width: 768px) {
        .btn-mode-red:hover {
          border-right: 1px solid #F44333;
          border-left: 1px solid #F44333; } }

.btn-container {
  margin: 0px !important;
  padding: 0px; }
  .btn-container * {
    width: 100%; }

.intro {
  flex: 1; }

@media screen and (max-width: 767px) {
  .footer-container {
    padding: 0px; } }

.footer {
  width: 100%;
  margin-top: 20px;
  padding: 15px 10px 10px 10px;
  border-radius: 0px;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .5s ease-out; }
  .footer-blue {
    border-bottom: 2px solid #03A9F4;
    color: #03A9F4; }
    .footer-blue:hover, .footer-blue:focus, .footer-blue:active {
      color: #02638f;
      border-bottom: 2px solid #02638f; }
  .footer-red {
    color: #F44333; }
    @media screen and (min-width: 899px) {
      .footer-red {
        border-bottom: 2px solid #F44333; } }
    @media screen and (max-width: 900px) {
      .footer-red {
        border: 2px solid #F44333 !important; } }
    .footer-red:hover, .footer-red:focus, .footer-red:active {
      color: #b7180a;
      border-bottom: 2px solid #b7180a; }

#player {
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

.inline-section .form-control {
  background: black;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px; }

#video-form::-webkit-input-placeholder {
  color: #F44333; }

#video-overlay {
  position: fixed;
  z-index: 21;
  width: 640px;
  height: 390px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.85);
  border: 2px solid #03a9f4; }

.square-container {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .square-container {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .square-container {
      width: 100%; } }

@media screen and (min-width: 768px) {
  #page-header {
    display: flex;
    align-items: center; } }

.btn-square-hours {
  margin: 7.5px;
  background: #cf3325;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media screen and (min-width: 1001px) {
    .btn-square-hours {
      width: 2.2vw;
      height: 3.6vh; } }
  @media screen and (max-width: 1000px) {
    .btn-square-hours {
      width: 26px;
      height: 26px; } }
  .btn-square-hours:hover {
    transform: scale(1.4, 1.4);
    cursor: pointer;
    background: #F44333; }
    .btn-square-hours:hover * {
      color: white; }
  .btn-square-hours-active {
    transform: scale(1.5, 1.5);
    background: #f41400 !important; }
  .btn-square-hours-active:after {
    transform: scale(1.5, 1.5);
    background: #f41400 !important; }
  .btn-square-hours * {
    color: white; }

.btn-square-minutes {
  margin: 7.5px;
  background: #57417d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media screen and (min-width: 1001px) {
    .btn-square-minutes {
      width: 2.2vw;
      height: 3.6vh; } }
  @media screen and (max-width: 1000px) {
    .btn-square-minutes {
      width: 26px;
      height: 26px; } }
  .btn-square-minutes:hover {
    transform: scale(1.4, 1.4);
    cursor: pointer;
    background: #673AB7; }
    .btn-square-minutes:hover * {
      color: white; }
  .btn-square-minutes-active {
    transform: scale(1.5, 1.5);
    background: #4400be !important; }
  .btn-square-minutes-active:after {
    transform: scale(1.5, 1.5);
    background: #4400be !important; }
  .btn-square-minutes * {
    color: white; }

.btn-square-when {
  margin: 7.5px;
  background: #167fae;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media screen and (min-width: 1001px) {
    .btn-square-when {
      width: 2.2vw;
      height: 3.6vh; } }
  @media screen and (max-width: 1000px) {
    .btn-square-when {
      width: 26px;
      height: 26px; } }
  .btn-square-when:hover {
    transform: scale(1.4, 1.4);
    cursor: pointer;
    background: #03A9F4; }
    .btn-square-when:hover * {
      color: white; }
  .btn-square-when-active {
    transform: scale(1.5, 1.5);
    background: #0087c4 !important; }
  .btn-square-when-active:after {
    transform: scale(1.5, 1.5);
    background: #0087c4 !important; }
  .btn-square-when * {
    color: white; }

.btn-square-types {
  margin: 7.5px;
  background: #167fae;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media screen and (min-width: 1001px) {
    .btn-square-types {
      width: 2.2vw;
      height: 3.6vh; } }
  @media screen and (max-width: 1000px) {
    .btn-square-types {
      width: 26px;
      height: 26px; } }
  .btn-square-types:hover {
    transform: scale(1.4, 1.4);
    cursor: pointer;
    background: #03A9F4; }
    .btn-square-types:hover * {
      color: white; }
  .btn-square-types-active {
    transform: scale(1.5, 1.5);
    background: #0087c4 !important; }
  .btn-square-types-active:after {
    transform: scale(1.5, 1.5);
    background: #0087c4 !important; }
  .btn-square-types * {
    color: white; }

.btn-square-lock {
  margin: 7.5px;
  background: #167fae;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media screen and (min-width: 1001px) {
    .btn-square-lock {
      width: 2.2vw;
      height: 3.6vh; } }
  @media screen and (max-width: 1000px) {
    .btn-square-lock {
      width: 26px;
      height: 26px; } }
  .btn-square-lock:hover {
    transform: scale(1.4, 1.4);
    cursor: pointer;
    background: #03A9F4; }
    .btn-square-lock:hover * {
      color: white; }
  .btn-square-lock-active {
    transform: scale(1.5, 1.5);
    background: #0087c4 !important; }
  .btn-square-lock-active:after {
    transform: scale(1.5, 1.5);
    background: #0087c4 !important; }
  .btn-square-lock * {
    color: white; }

.notification-tooltip {
  background: black;
  position: absolute;
  color: white;
  transition-duration: 0.2s;
  z-index: 9999; }
  @media screen and (min-width: 768px) {
    .notification-tooltip {
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translateY(-50%) translateX(-50%); } }
  @media screen and (max-width: 767px) {
    .notification-tooltip {
      top: 50%;
      left: 5%;
      width: 90%;
      transform: translateY(-50%); } }

.tooltip-content {
  font-size: 20px;
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 30px; }

.tooltip-good {
  border: 2px solid #03A9F4; }

.tooltip-bad {
  border: 2px solid #e81f0c; }

#modal-generator {
  position: absolute; }

.modal-body {
  position: fixed;
  z-index: 9999;
  border: 2px solid #F44333;
  background: black;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .modal-body {
      width: 500px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin: 20px; } }
  @media screen and (max-width: 767px) {
    .modal-body {
      width: 300px;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      width: 90%; } }

.modal-body-video {
  position: fixed;
  z-index: 9999;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .modal-body-video {
      width: 500px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin: 20px; } }
  @media screen and (max-width: 767px) {
    .modal-body-video {
      width: 300px;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      width: 90%; } }

.btn-modal {
  color: white;
  border: 2px solid #673ab7;
  margin: 20px;
  border-radius: 0px;
  width: 33%;
  line-height: 40px;
  transition-duration: .5s; }
  .btn-modal:hover {
    color: white;
    background: #8259cb;
    border: 2px solid #916dd1; }

.modal-header {
  font-size: 40px;
  color: white;
  border-bottom-color: transparent; }

.btn-container {
  margin-top: 10px; }

.modal-overlay {
  transition-duration: .5s; }
  .modal-overlay * {
    transition-duration: .5s; }

.modal-transition {
  border-color: transparent !important;
  background: transparent !important;
  color: transparent !important; }
  .modal-transition * {
    border-color: transparent !important;
    background: transparent !important;
    color: transparent !important; }
    .modal-transition * * {
      border-color: transparent !important;
      background: transparent !important;
      color: transparent !important; }
      .modal-transition * * * {
        border-color: transparent !important;
        background: transparent !important;
        color: transparent !important; }

.lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1; }

.alarm-backdrop {
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); }
  .alarm-backdrop-hidden {
    display: none; }

.general-modal {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5); }
  .general-modal * {
    font-family: 'Montserrat', sans-serif; }

.submodal {
  position: fixed;
  top: 50%;
  border: 2px solid #F44333;
  color: white;
  background: black; }
  @media screen and (min-width: 768px) {
    .submodal {
      width: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); } }
  @media screen and (max-width: 768px) {
    .submodal {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      transform: translateY(-50%); } }

#btn-at {
  display: none; }
