.alarm-backdrop.alarm-backdrop-hidden
  .alarm-modal.p-y-2
    .row.text-xs-center
      h1 Time to wake up!
      .m-t-2
        a(id="btn-snooze" class="btn btn-mode btn-mode-red-surround m-x-2") Snooze
        a(id="btn-wake" class="btn btn-mode btn-mode-purple-surround m-x-2") Wake