.container
  .row.m-b-2.m-t-3
    .col-md-6
      h1.text-title.header.text-xs-center.text-md-left <strong>Alarm Clock<strong>
      h4.text-body Set a time for the alarm will to you up at.
    .col-md-4.col-md-push-2.text-xs-center
      h3.text-body At <span id="hour-alarm"></span>:<span id="minute-alarm"></span> <span id="when-alarm"></span></strong>
      h5.text-body In <span id="delta">3</span> hours.
      h5.text-body Current Time: <span id="current-hour-alarm"></span>:<span id="current-minute-alarm"></span> <span id="current-when-alarm"></span>
  .row
    .col-md-12
      h3.text-body Hours
  .row
    .col-xs-8
      .square-container
        div(id="hour-0" class="btn-square-hours btn-square-hours-active")
          a=0
        each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
          div(id="hour-"+i class="btn-square-hours")
            a=i
    .col-xs-4
      p.text-body Ad goes here.
  .row
    .col-xs-12
      h3.text-body Minutes
  .row
    .col-xs-8
      .square-container
        div(id="minute-0" class="btn-square-minutes btn-square-minutes-active")
          a=0
        each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
          div(id="minute-"+i class="btn-square-minutes")
            a=i
    .col-xs-4 
      p.text-body Ad goes here.
  .row
    .col-md-12
      h3.text-body AM/PM
  .row
    .col-xs-8
      .square-container
        div(id="type-0" class="btn-square-types btn-square-types-active")
          a="AM"
        div(id="type-1" class="btn-square-types")
          a="PM"
    .col-xs-4
      p.text-body Ad goes here.
