body 
  .intro
    .col-lg-4.col-lg-push-8.footer-container
      include _app-navigation.pug
    .col-xs-12#at-content.active.interactive-element
      include _at-time-page.pug
  .col-lg-8.footer-container
    include _page-footer.pug
  include _alarm-backdrop.pug