body 
  .intro
    .col-lg-4.col-lg-push-8.footer-container
      include _app-navigation.pug
    .col-xs-12#help-content.active.interactive-element
      include _information-page.pug
    .col-xs-12#in-content.inactive.interactive-element
      include _in-hours-page.pug
    .col-xs-12#at-content.inactive.interactive-element
      include _at-time-page.pug
  .col-lg-8.footer-container
    include _page-footer.pug