.container
  .row
    .col-md-4.m-t-3
      h1.text-title.header <strong>Welcome!</strong>
  .row
    .col-md-6.m-b-3
      h4.text-body Greetings from Alarm Clock Buddy, we thought that most alarm clock web applications were both ugly and unintuitive to use, so we built our own alarm clock that is your buddy, not your enemy. The <a href="#"><span class="text-red text-red-hover text-alert">at time</span></a> button allows you to set a <strong>time at which the alarm will ring</strong>, <a href="#"><span class="text-purple text-purple-hover text-alert"><strong>in hours</strong></span></a> will allow to set how many hours you wish for the alarm to <strong>run until it is triggered.</strong>
  