.text-title.text-teal
  h1 Home
.text-content
  p Welcome to AlarmClockBuddy.com, we thought that most alarm clock web applications were both ugly and unintuitive to use, so we built our own alarm clock that is your buddy, not your enemy. We hope you get good sleep, a good work out, or anything you want to use our app for!