#modal-generator {
    position: absolute;
}

.modal-body {
    position: fixed;
    z-index: 9999;
    border: 2px solid #F44333;
    background: black;
    text-align: center;

    @media screen and (min-width: 1100px) {
	top: 13vw;
	left: 46.5%;
	transform: translateX(-46.5%);
	width: 26%;
	margin: 20px;
    }

    @media screen and (max-width: 1099px) {
	top: 33vw;
	left: 4vw;
	width: 90vw;
    }
}

.btn-modal {
    color: white;
    border: 2px solid lighten(#673AB7, 0%);
    margin: 20px;
    border-radius: 0px;
    width: 33%;
    line-height: 40px;
    transition-duration: .5s;

    &:hover {
	color: white;
	background: lighten(#673AB7, 10%);
	border: 2px solid lighten(#673AB7, 15%);
    }
}

.modal-header {
    font-size: 40px;
    color: white;
    border-bottom-color: transparent;
}

.btn-container {
    margin-top: 10px;
}

.modal-overlay {
    transition-duration: .5s;
    * {
	transition-duration: .5s;
    }
}

.modal-transition {
    border-color: transparent !important;
    background: transparent !important;
    color: transparent !important;

    * {
	border-color: transparent !important;
	background: transparent !important;
	color: transparent !important;

	* {
	    border-color: transparent !important;
	    background: transparent !important;
	    color: transparent !important;
	    * {
		border-color: transparent !important;
		background: transparent !important;
		color: transparent !important;
	    }
	}
    }
}
