#modal-generator {
    position: absolute;
}

.modal-body {
    position: fixed;
    z-index: 9999;
    border: 2px solid #F44333;
    background: black;
    text-align: center;

    @media screen and (min-width: 768px) {
	width: 500px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 20px;
    }

    @media screen and (max-width: 767px) {
	width: 300px;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	width: 90%;
    }
}

.modal-body-video {
    position: fixed;
    z-index: 9999;
    text-align: center;

    @media screen and (min-width: 768px) {
	width: 500px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 20px;
    }

    @media screen and (max-width: 767px) {
	width: 300px;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	width: 90%;
    }
}

.btn-modal {
    color: white;
    border: 2px solid lighten(#673AB7, 0%);
    margin: 20px;
    border-radius: 0px;
    width: 33%;
    line-height: 40px;
    transition-duration: .5s;

    &:hover {
	color: white;
	background: lighten(#673AB7, 10%);
	border: 2px solid lighten(#673AB7, 15%);
    }
}

.modal-header {
    font-size: 40px;
    color: white;
    border-bottom-color: transparent;
}

.btn-container {
    margin-top: 10px;
}

.modal-overlay {
    transition-duration: .5s;
    * {
	transition-duration: .5s;
    }
}

.modal-transition {
    border-color: transparent !important;
    background: transparent !important;
    color: transparent !important;

    * {
	border-color: transparent !important;
	background: transparent !important;
	color: transparent !important;

	* {
	    border-color: transparent !important;
	    background: transparent !important;
	    color: transparent !important;
	    * {
		border-color: transparent !important;
		background: transparent !important;
		color: transparent !important;
	    }
	}
    }
}

.lightbox {
    position: fixed;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.95);
    z-index: 1;
}
