@mixin squareButton($color){
    width: 22px;
    height: 22px;
    margin: 6px;
    background: desaturate(darken($color, 10%), 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    text-decoration: none;

    &:hover {
	transform: scale(1.4, 1.4);
	cursor: pointer;
	* {
	color: white;
	}
	background: $color;
    }

    &-active {
	transform: scale(1.5, 1.5);
	background: saturate(darken($color, 10%), 90%) !important;
    }

    &-active:after {
	transform: scale(1.5, 1.5);
	background: saturate(darken($color, 10%), 90%) !important;
    }

    * {
      color: white;
    }
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}

.btn-square-hours {
    @include squareButton(#F44333);
}

.btn-square-minutes {
    @include squareButton(#673AB7);
}

.btn-square-when {
    @include squareButton(#673AB7);
}

.btn-square-types {
    @include squareButton(#03A9F4);
}

.btn-square-lock {
    @include squareButton(#03A9F4);
}
