head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="copyright" content="Alarm Clock Buddy is owned by Blue Bike Web Design and Austin Fell")
  meta(name="description" content="Alarm Clock Buddy is a beautiful alarm app that isn't full of adds and actually works.")
  meta(name="keywords" content="alarm, alarm clock, clock, wake up, blue bike web design, websites, wake me up, sleep clock, dreaming")
  meta(name="robots" content="index, follow")
  meta(name="DC.title" content="The Alarm Clock Buddy")
  title="Alarm Clock Buddy"

  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd", crossorigin="anonymous")
  link(rel="stylesheet", href="css/app.css")
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css')
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js", integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7", crossorigin="anonymous")
  script(src="js/modal.js")
  script(src="js/button-lib.js")
  script(src="js/time-formatting.js")
  script(src="js/view-wrapper.js")
  script(src="js/clock.js")
  script(src="js/app.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js")
