.interactive-element {
    transition-duration: .5s;
}

.inactive {
    height: 0%;
    transform: scale(0, 0);
}

.active {
    transform: scale(1, 1);
}

.ads-container {
    display:inline-block;
    width: 100% !important;

    @media screen and (min-width: 768px) {
      height: 500px !important;
    }

    @media screen and (max-width: 767px) {
      height: 500px !important;
    }
}
