.text-title {
    color: white;
    letter-spacing: .1em;
}

.text-body {
    color: white;
    letter-spacing: .08em;
}

.text-red {
    color: #F44333;
}

.text-purple {
    color: #673Ab7;
}

.text-blue {
    color: #03A9F4;
}

.text-alert {
    font-weight: bold;
    letter-spacing: .08em;
    font-size: 110%;
}
