.text-title {
    margin-left: 10vw;
    margin-top: 5vh;
}

.text-teal {
    color: white;
}

.text-red {
    color: #F44333;
}

.text-purple{
    color: #673AB7;
}

.text-blue {
    color: #03A9F4;
}
