meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="copyright" content="Alarm Clock Buddy is owned by Blue Bike Web Design and Austin Fell")
meta(name="description" content="Alarm Clock Buddy is a beautiful alarm app that isn't full of adds and actually works.")
meta(name="keywords" content="alarm, alarm clock, clock, wake up, blue bike web design, websites, wake me up, sleep clock, dreaming")
meta(name="robots" content="index, follow")
meta(name="DC.title" content="The Alarm Clock Buddy")
title="Alarm Clock Buddy"